#container{
	width:1200px;
	margin:auto;
}

hr{
	border-top:1px solid #bbb;          /*아이디 ,비번 찾기 밑  hr 크기 2px*/
}

input{
	display: block;
}

label {
	display: block;
	margin: 10px 0px;
	font-weight: bold;
}

form ul {
	list-style-type: none;
}

/*header section*/
#header{
	display: block;
    width: 1200px;
    height: 250px;
    margin: 20px auto 0;
}

#headerLoginMenu .loginButton{
	display:inline-block;
	border:1px solid rgb(70, 183, 185);
	border-radius:10px;
	width:60px;
	height:30px;
	padding:0px;
	background-color:#fafafa;
	font-size:10px;
}

#headerMenu{
	border:none;
	width:600px;
	height:0px;
	margin:auto;
	/*position 버튼 이동*/
}

#headerMenu ul li{
	display:inline-block;
	list-style:none;
	color:black;
	background-color:#fafafa;
	line-height:30px;       /*글씨가 가운데로 오도록 한줄의 높이를 30px로 설정*/
	vertical-align:middle;
	text-align:center;
}

#headerMenu .menuLink{
	text-decoration:none;
	border-radius:10px;
	vertical-align:middle;
	border:1px solid rgb(70, 183, 185);
	color:black;
	display:block;
	width:80px;
	height:35px;
	font-size:15px;
	font-family: 'Noto Sans KR', sans-serif;
}

#headerLoginButton{
	display:inline-block;
	float:right;
	top:0px;	
	right:5px;
	position:relative;
	padding:7px;
	width:75px;
	height:30px;
}

.LoginButton{
	padding:5px;
	border:1px solid rgb(70, 183, 185);
	border-radius:10px;
	text-align:center;
	text-decoration:none;
	font-size:10px;
	color:black;
}

/*main*/
#MainInfoDiv{
	display:table;
	width:850px;
	height:300px;
	padding-left:300px;
	margin:0px;
	background-color: rgb(231, 244, 243);
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	font-family: 'Noto Sans KR', sans-serif;
}

#MainInfoDiv label{
	display:table-cell;
	list-style:none;
	margin:0px;
	font-size:23px;
	font-family: 'Noto Sans KR', sans-serif;
}

#MainInfoDiv ul li{
	list-style:none;
	color:black;
	vertical-align:middle;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
} 

#MainFindTagDiv {
    display: table;
    width: 900px;
    height: 300px;
    padding-left: 300px;
    background-color: #fafafa;
    vertical-align: middle;
}

#MainFindTagDiv label{
	list-style:none;
	margin:0px;
	font-size:30px;
	font-family: 'Noto Sans KR', sans-serif;
}

#MainFindTagDiv input[type=text]{
	width:100px;
	height:300px;
	font-size:40px;
	font-family: 'Noto Sans KR', sans-serif; /*적용이 안되서 인라인했음*/
}

#MainPostDiv {
    display: block;
    width: 1200px;
    background-color: rgb(231, 244, 243);
    height: 1200px;
}

#ReadingGlassLogo {
	display:block;
	width:10px;
	float:left;
}


/*noHeader section*/
#loginSection {
	margin: 0px auto 100px;
	background-color: #e7f4f3;
}

#loginSectionInside {
	background-color: #fafafa;
	box-shadow: 1px 1px 2px #b6c2c2;
	margin: auto;
	border-radius: 15px;
}

#logoimage {
	display: block;
    margin: 5px auto;
    width: 450px;
    text-align: center;
}

#loginSectionInside label {
	margin: 20px auto;
	font-size: 20px;
}
#loginSectionInside input[type=text] {
	height: 50px;
	width: 400px;
	margin: 10px 0px;
	background-color: #fafafa;
	border: none;
	border-bottom: 2px solid rgb(74, 190, 202);
	font-size:14px;                 /*글자 크기 14px 추가*/
}
#loginSectionInside input[type=text]::placeholder {
	color: rgb(74, 190, 202);
}
#loginSectionInside input[type=password] {
	height: 50px;
	width: 400px;
	margin: 10px 0px;
	background-color: #fafafa;
	border: none;
	border-bottom: 2px solid rgb(74, 190, 202);
	font-size:14px;                 /*글자 크기 14px 추가*/
}
#loginSectionInside input[type=password]::placeholder {
	color: rgb(74, 190, 202);
}
#loginSectionInside input[type=submit] {
	display:inline-block;
	height: 50px;
	width: 200px;
	margin: 10px 23px;
	padding: 0px;
	background-color: #fafafa;
	border: none;
	color:rgb(74, 190, 202);             /*회원가입 버튼 글자 색상 조정*/
	font-size:16px;                 /*글자 크기 16px 추가*/
}
#loginSectionInside input[type=submit]:hover {
	background-color: #f4f4f4;            /*마우스 올려뒀을 때 색상 연하게 조정*/
}

#loginSectionInside input[type=button] {
	display: inline-block;
	height: 50px;
	width: 200px;
	margin: 10px 24px;
	padding: 0px;
	background-color: #fafafa;
	border: none;
	color:rgb(74, 190, 202);             /*회원가입 버튼 글자 색상 조정*/
	font-size:16px;                      /*글자 크기 16px 추가*/
}

#loginSectionInside input[type=button]:hover {
	background-color: #f4f4f4;           /*마우스 올려뒀을 때 색상 연하게 조정*/  
}

#loginSectionInside fieldset.sexSelectField {
	width: 200px;
	margin: 10px auto;
}

#loginSectionInside fieldset.sexSelectField legend{
	font-family: font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
#loginSectionInside fieldset.sexSelectField input{
	display: inline;
}

/* doLogin */
#loginSection.loginBox {
	width: 520px;
	height: 520px;
	padding: 30px;
}

#loginSectionInside.loginBox {
	width: 500px;
	height: 500px;
	padding: 10px;
}

#noheaderlogolink.loginlogolink
{
	display: block;
	width: 450px;
	margin: 150px auto 0px;
}

/* searchID */
#loginSection.searchIDBox {
	width: 520px;
	height: 520px;
	padding: 30px;
}

#loginSectionInside.searchIDBox {
	width: 500px;
	height: 500px;
	padding: 10px;
}

#noheaderlogolink.searchIDBox
{
	display: block;
	width: 600px;
	margin: 150px auto 0px;
}
/* searchPW */
#loginSection.searchPWBox {
	width: 520px;
	height: 700px;
	padding: 30px;
}

#loginSectionInside.searchPWBox {
	width: 500px;
	height: 680px;
	padding: 10px;
}

#noheaderlogolink.searchPWBox
{
	display: block;
	width: 600px;
	margin: 150px auto 0px;
}
/* signIn */
#loginSection.signin {
	width: 1020px;
	height: 680px;
	padding: 30px;
}
#loginSectionInside.signin {
	width: 1000px;
	height: 660px;
	padding: 10px;
}

#noheaderlogolink.signin
{
	display: block;
	width: 600x;
	margin: 150px auto 0px;
}

/*selectSearchInfo*/
.buttonSearch {
width: 200px;
height: 50px;
color: rgb(74, 190, 202);
border: 3px solid rgb(74, 190, 202);
border-radius: 10px;
text-align: center;
display: inline-block;
margin: 20px 20px;
}

#loginSection.selectSearch {
	width: 500px;
	height: 100px;
	padding: 30px;
}s

#loginSectionInside.selectSearch {
	width: 500px;
	height: 100px;
}

/*footer*/
#footer {                          
	color:#7f7f7f;
	background-color: #78bdbd;
	height: 200px;
	border-radius:10px;                /*footer 둥근테두리 추가*/
}
#footer p{
	margin:0px;
}