#container {
	width:1200px;
	margin:auto;
}

input {
	display: block;
}

label {
	display: block;
	margin: 10px 0px;
	font-weight: bold;
}

form ul {
	list-style-type: none;
}

/*noHeader section*/
#loginSection {
	margin: 0px auto 100px;
	background-color: #e7f4f3;
}

#loginSectionInside {
	background-color: #fafafa;
	box-shadow: 1px 1px 2px #b6c2c2;
	margin: auto;
	border-radius: 15px;
}

#logoimage {
	display: block;
	margin: 0px auto;
	width: 600px;
}

#loginSectionInside label {
	margin: 20px auto;
	font-size: 20px;
}


#loginSectionInside input[type=text] {
	height: 50px;
	width: 400px;
	margin: 10px 0px;
	background-color: #fafafa;
	border: none;
	border-bottom: 2px solid rgb(74, 190, 202);
}
#loginSectionInside input[type=text]::placeholder {
	color: rgb(74, 190, 202);
}
#loginSectionInside input[type=password] {
	height: 50px;
	width: 400px;
	margin: 10px 0px;
	background-color: #fafafa;
	border: none;
	border-bottom: 2px solid rgb(74, 190, 202);
}
#loginSectionInside input[type=password]::placeholder {
	color: rgb(74, 190, 202);
}
#loginSectionInside input[type=submit] {
	display: inline-block;
	height: 50px;
	width: 200px;
	margin: 10px 23px;
	padding: 0px;
	background-color: #fafafa;
	border: none;
}
#loginSectionInside input[type=submit]:hover {
	background-color: #bababa;
}

#loginSectionInside input[type=button] {
	display: inline-block;
	height: 50px;
	width: 200px;
	margin: 10px 24px;
	padding: 0px;
	background-color: #fafafa;
	border: none;
}

#loginSectionInside input[type=button]:hover {
	background-color: #bababa;
}

#loginSectionInside fieldset.sexSelectField {
	width: 200px;
	margin: 10px auto;
}

#loginSectionInside fieldset.sexSelectField legend{
	font-family: font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 20px;
}
#loginSectionInside fieldset.sexSelectField input{
	display: inline;
}

/* doLogin */
#loginSection.loginBox {
	width: 520px;
	height: 520px;
	padding: 30px;
}

#loginSectionInside.loginBox {
	width: 500px;
	height: 500px;
	padding: 10px;
}

#noheaderlogolink.loginlogolink
{
	display: block;
	width: 600px;
	margin: 150px auto 0px;
}

/* searchID */
#loginSection.searchIDBox {
	width: 520px;
	height: 520px;
	padding: 30px;
}

#loginSectionInside.searchIDBox {
	width: 500px;
	height: 500px;
	padding: 10px;
}

#noheaderlogolink.searchIDBox
{
	display: block;
	width: 600px;
	margin: 150px auto 0px;
}
/* searchPW */
#loginSection.searchPWBox {
	width: 520px;
	height: 700px;
	padding: 30px;
}

#loginSectionInside.searchPWBox {
	width: 500px;
	height: 680px;
	padding: 10px;
}

#noheaderlogolink.searchPWBox
{
	display: block;
	width: 600px;
	margin: 150px auto 0px;
}
/* signIn */
#loginSection.signin {
	width: 1020px;
	height: 680px;
	padding: 30px;
}
#loginSectionInside.signin {
	width: 1000px;
	height: 660px;
	padding: 10px;
}

#noheaderlogolink.signin
{
	display: block;
	width: 600px;
	margin: 150px auto 0px;
}

/*seelctSearchInfo*/
.buttonSearch {
width: 200px;
height: 50px;
color: rgb(74, 190, 202);
border: 3px solid rgb(74, 190, 202);
border-radius: 10px;
text-align: center;
display: inline-block;
margin: 20px 20px;
}

#loginSection.selectSearch {
	width: 500px;
	height: 100px;
	padding: 30px;
}

#loginSectionInside.selectSearch {
	width: 500px;
	height: 100px;
}

/*footer*/
#footer {
	background-color: #78bdbd;
	height: 200px;
}